{% extends 'template.html' %}

{% load static %}

{% block customheaders %}
{% endblock %}

{% block pagetitle %} Política de Backup {% endblock %}

{% block content %}
<h3>Políticas</h3>
<table class="table table-sm border table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Agendamento</th>
            <th>Última execução</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for policy in policies %}
        <tr>
            <td>{{ policy.name }}</td>
            <td>{{ policy.run_hour }}:{{ policy.run_minutes|stringformat:"02d" }}</td>
            <td>{{ policy.last_run }}</td>
            <td><a href='#'><i class="fas fa-edit" title="Modificar"></i></a> <a href='/backup/policy/{{ policy.id }}/run' target="_blank"><i class="fas fa-play" title="Executar agora"></i></a></td>
        </tr>
        {% empty %}
        <tr><td colspan="4">Nenhum resultado encontrado...</td></tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<br/>
<h3>Backups</h3>
<table id="table-backup-list" class="table table-sm border table-hover">
    <thead class="table-dark">
        <tr>
            <th>Firewall</th>
            <th>Data do backup</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for backup in backups %}
        <tr>
            <td>{{ backup.firewall.name }}</td>
            <td>{{ backup.start_date }}</td>
            <td><a href='/backup/{{ backup.id }}/download' target="_blank"><i class="fas fa-download" title="Download"></i></a></td>
            
        </tr>
        {% empty %}
        <tr><td colspan="4">Nenhum backup encontrado...</td></tr>
        {% endfor %}
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        $("#table-backup-list").DataTable({
            searching: false,
            lengthChange: false
        });
    });
    
</script>
{% endblock %}

{% block customscripts %}
{% endblock %}
